:host {

}

.h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

.minidocs-menu, .minidocs-menu.menu-closed {
  display: none;
  z-index: 1000;
}

.minidocs-menu.menu-open.menu-small {
  display: block;
  background-color: rgb(240,240,240);
  position: fixed;
  width: 100%;
  top: 0;
  height: 100%;
  padding: 50px;
  margin-bottom:  0px;
  box-sizing: border-box;
}

.minidocs-menu.menu-open.menu-small .minidocs-menu-wrapper {
  height: 100%;
  overflow-y: auto;
}

a.content-link {
  padding: 6px 8px 6px 5px;
  margin-bottom: 1px;
  cursor: pointer;
  text-decoration: none;
  color: #505050;
  display: block;
  border-left: 3px solid #eee;
}

a.content-link.active {
  background-color: #fff;
  border-left: 3px solid rgb(200,200,200);
}

a.content-link:hover {
  background-color: #fff;
  border-left: 3px solid rgb(200,200,200);
}

.minidocs-menu-toggle {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 0px;
  background: transparent;
  padding-left: 20px;
  line-height: 0.9;
  z-index: 2000;
  cursor: pointer;
  font-size: 16px;
}

.minidocs-menu-toggle:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background: black;
  box-shadow:
    0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}

.minidocs-menu-toc {
  margin-top:-2px;
  background-color: #f8f8f8;
  border-left: 3px solid rgb(200,200,200);
}

.minidocs-menu-toc a.content-link {
  border-left:0px;
  padding: 4px 0px 4px 10px;
}

@media (min-width: 600px) {
  .minidocs-menu {
    display: block;
    margin-bottom: 25px;
  }

  .minidocs-menu-toggle {
    display: none;
  }
}
