body {
  font-family: 'clear_sans_thinregular';
  color: rgb(80,80,80);
  margin: 0px;
  padding: 0px;
}

.contents-link {
  padding-left: 2%;
  cursor: pointer;
  padding-bottom: 2px;
  padding-right: 10px;
}

.contents-link:hover {
  background: rgb(255,255,255);
}

.contents-link-selected {
  background: rgb(255,255,255);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
} 

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.125); 
  height: 20px;
} 

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25); 
} 

::-webkit-scrollbar-button {
  background-color: rgb(200,200,200);
} 

::-webkit-scrollbar-corner {
  background-color: black;
}